<!-- -*- ENGINE:go -*- -->
<!DOCTYPE html>
<html>
    {{- partial "base/head.html" . -}}
    <body class="flex flex-col gap-8 h-screen justify-between">
        {{- partial "base/header.html" . -}}
        {{- block "main" . -}}
        {{- end -}}
        {{- partial "base/footer.html" . -}}
    </body>
</html>
