{{- define "main" -}}
    <main class="flex flex-col gap-8">
        <h1 class="text-3xl lg:text-5xl font-bold text-center">{{- .Title -}}</h1>
        {{- if ne ( countwords .Content ) 0 -}}
            <div>{{- .Content -}}</div>
        {{- end -}}

        {{- $data := newScratch -}}
        {{- $data.Set "class" "lg:grid-cols-3" -}}

        {{- if eq .Type "articles" -}}
            {{- $data.Set "file" "cards/article.html" -}}
        {{- else if eq .Type "projects" -}}
            {{- $data.Set "file" "cards/project.html" -}}
        {{- else if eq .Type "library" -}}
            {{- $data.Set "file" "cards/library.html" -}}
        {{- else if and ( eq .Type "tags" ) ( eq .Kind "taxonomy" ) -}}
            {{- $data.Set "file" "cards/taxonomy.html" -}}
            {{- $data.Set "class" "grid-cols-3 lg:grid-cols-6" -}}
        {{- else if and ( eq .Type "tags" ) ( eq .Kind "term" ) -}}
            {{- $data.Set "file" "cards/term.html" -}}
        {{- end -}}

        <section class="{{- printf "grid gap-4 justify-items-center items-center %s" ( $data.Get "class" ) -}}">
            {{- range .Paginator.Pages -}}
                {{- partial ( $data.Get "file" ) . -}}
            {{- end -}}
        </section>

        {{- if ne .Paginator.TotalPages 1 -}}
            <div class="flex flex-row items-center text-xl font-bold gap-4 justify-center">
                {{- if .Paginator.HasPrev -}}
                    {{- if ne .Paginator.First.PageNumber .Paginator.Prev.PageNumber -}}
                        <a href="{{- .Paginator.First.URL -}}" class="link">{{- .Paginator.First.PageNumber -}}…</a>
                    {{- end -}}
                    <a href="{{- .Paginator.Prev.URL -}}" class="link">{{- .Paginator.Prev.PageNumber -}}</a>
                {{- end -}}
                <span class="text-2xl">{{- .Paginator.PageNumber -}}</span>
                {{- if .Paginator.HasNext -}}
                    <a href="{{- .Paginator.Next.URL -}}" class="link">{{- .Paginator.Next.PageNumber -}}</a>
                    {{- if ne .Paginator.Last.PageNumber .Paginator.Next.PageNumber -}}
                        <a href="{{- .Paginator.Last.URL -}}" class="link">…{{- .Paginator.Last.PageNumber -}}</a>
                    {{- end -}}
                {{- end -}}
            </div>
        {{- end -}}

    </main>
{{- end -}}
