@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  main {
    @apply flex-grow;
    @apply px-4;
    @apply lg:px-8;
  }

  aside {
    @apply px-4;
    @apply flex flex-col gap-8 w-full lg:w-1/3 self-center;
  }

  div.highlight {
    @apply w-[80vw] mx-auto md:w-full;
  }
}
