{{- define "main" -}}
    <main class="lg:w-1/3 lg:h-1/3 flex flex-col gap-4 justify-center self-center">
        <span class="text-6xl text-center">👀</span>
        <h1 class="font-bold text-3xl lg:text-5xl text-center">{{- .Site.Data.labels.error -}}</h1>
        <p class="text-center">{{- .Site.Data.strings.error | safeHTML -}}</p>
    </main>
{{- end -}}
